@font-face {
  font-family: axiformathin;
  src: url(./fonts/axiforma_thin-webfont.woff2) format('woff2'),
    url(./fonts/axiforma_thin-webfont.woff) format('woff');
}

@font-face {
  font-family: latolight;
  src: url(./fonts/lato-light-webfont.woff2) format('woff2'),
    url(./fonts/lato-light-webfont.woff) format('woff');
}

@font-face {
  font-family: montserratregular;
  src: url(./fonts/montserrat-regular.woff2) format('woff2'),
    url(./fonts/montserrat-regular.woff) format('woff');
}

@font-face {
  font-family: montserratlight;
  src: url(./fonts/montserrat-light.woff2) format('woff2'),
    url(./fonts/montserrat-light.woff) format('woff');
}

@font-face {
  font-family: montserratthin;
  src: url(./fonts/montserrat-thin.woff2) format('woff2'),
    url(./fonts/montserrat-thin.woff) format('woff');
}

@font-face {
  font-family: montserratextralight;
  src: url(./fonts/montserrat-extralight.woff) format('woff2'),
    url(./fonts/montserrat-extralight.woff2) format('woff');
}
